@import url('header.css');
@import url('global.css');
@import url('page/main.css');
@import url('page/archive.css');
@import url('page/redactore.css');


.header_logo {
    font-weight: bold
}


.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}




